@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  color: #132743;
  text-decoration: none;
  scroll-behavior: smooth;
  text-align: center;
}

body {
  background-color: #f8efd4;
}

.button {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: block;
  max-width: 9rem;
  margin: 1rem 0;
}

.button-primary {
  background-color: #132743;
}

.button-primary:hover {
  color: #d7385e;
}

.button-primary:focus {
  color: #d7385e;
}

.button-secondary {
  color: #132743;
  border: 1px solid #132743;
}

.button-secondary:hover {
  background-color: #d7385e;
}

.active {
  font-weight: bold;
}

.navbar {
  background-color: #132743;
  padding: 1rem;
  border-bottom-left-radius: 1.5rem;
}

.navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
  max-width: 70vw;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .navbar__wrapper {
    max-width: 95vw;
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 510px) {
  .navbar__wrapper {
    height: 10vh;
  }
}

@media only screen and (max-width: 460px) {
  .navbar__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar__wrapper__brandName {
  color: #edc988;
  font-weight: bold;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

@media only screen and (max-width: 510px) {
  .navbar__wrapper__brandName {
    font-size: 0.8rem;
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }
}

@media only screen and (max-width: 460px) {
  .navbar__wrapper__brandName {
    -webkit-transform: translate(30px, -35px);
            transform: translate(30px, -35px);
  }
}

.navbar__wrapper__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

@media only screen and (max-width: 460px) {
  .navbar__wrapper__container {
    -webkit-transform: translate(-5px, 25px);
            transform: translate(-5px, 25px);
  }
}

.navbar__wrapper__container li {
  margin: 0 2rem;
}

@media only screen and (max-width: 768px) {
  .navbar__wrapper__container li {
    margin: 0 1rem;
  }
}

.navbar__wrapper__container li a {
  text-decoration: none;
  color: #edc988;
}

@media only screen and (max-width: 510px) {
  .navbar__wrapper__container li a {
    font-size: 0.8rem;
  }
}

.navbar__wrapper__container li a:hover {
  color: #d7385e;
}

.hero__wrapper {
  padding: 4rem 0;
}

.hero__wrapper img {
  width: 35vw;
}

@media only screen and (max-width: 768px) {
  .hero__wrapper img {
    width: 60vw;
  }
}

@media only screen and (max-width: 460px) {
  .hero__wrapper img {
    width: 80vw;
  }
}

.hero__wrapper__heading {
  margin: 2rem 0;
  font-size: 2rem;
  color: #132743;
}

@media only screen and (max-width: 510px) {
  .hero__wrapper__heading {
    font-size: 1.5rem;
  }
}

.hero__wrapper__heading strong {
  font-size: 3rem;
  color: #d7385e;
}

@media only screen and (max-width: 510px) {
  .hero__wrapper__heading strong {
    font-size: 2rem;
  }
}

.main__wrapper__dark, .main__wrapper__light {
  padding: 1.5rem 0;
  height: 37vh;
}

@media only screen and (max-width: 460px) {
  .main__wrapper__dark, .main__wrapper__light {
    height: 40vh;
  }
}

.main__wrapper__dark h3, .main__wrapper__light h3 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.main__wrapper__dark__center, .main__wrapper__light__center {
  max-width: 50vw;
  margin: 0 auto;
}

.main__wrapper__dark__center p, .main__wrapper__light__center p {
  text-align: left;
  padding: 0.5rem 0 0 0;
}

@media only screen and (max-width: 768px) {
  .main__wrapper__dark__center, .main__wrapper__light__center {
    max-width: 70vw;
  }
}

@media only screen and (max-width: 510px) {
  .main__wrapper__dark__center, .main__wrapper__light__center {
    max-width: 80vw;
  }
}

@media only screen and (max-width: 460px) {
  .main__wrapper__dark__center, .main__wrapper__light__center {
    font-size: 0.8rem;
  }
}

.main__wrapper__dark {
  height: 35vh;
  background-color: #edc988;
}

@media only screen and (max-width: 768px) {
  .main__wrapper__dark {
    height: 40vh;
  }
}

@media only screen and (max-width: 460px) {
  .main__wrapper__dark {
    height: 45vh;
  }
}

.footer__wrapper {
  background-color: #132743;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__wrapper h3 {
  color: #f8efd4;
  margin: 1rem 0;
}

.footer__wrapper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #edc988;
}

@media only screen and (max-width: 460px) {
  .footer__wrapper__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__wrapper__list li {
  margin: 0 2rem;
}

@media only screen and (max-width: 460px) {
  .footer__wrapper__list li {
    margin: 0.5rem;
  }
}

.footer__wrapper__list li a {
  color: #edc988;
}

.footer__wrapper__list li a:hover {
  color: #d7385e;
}
/*# sourceMappingURL=index.css.map */