// Fonts import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

// colors
$darkColor: #edc988;
$primaryColor: #132743;
$secondaryColor: #d7385e;
$lightColor: #f8efd4;

// sizes
$tablet: 768px;
$phone: 510px;
$smphone: 300px;

// media queries defination in scss.

@mixin tablet {
  @media only screen and (max-width: $tablet) {
      @content;
  }
}

@mixin phone {
  @media only screen and (max-width: $phone) {
      @content;
  }
}

@mixin smphone {
  @media only screen and (max-width: $smphone) {
      @content;
  }
}

// Global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    color: $primaryColor;
    
    scroll-behavior: smooth;
    text-align: center;
  }
  
  body{
      background-color: $lightColor;
  }
  
  .button {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: block;
    max-width: 9rem;
    margin: 1rem 0;
  }
  
  .button-primary {
    background-color: $primaryColor;
    &:hover{
        color: $secondaryColor;
    }
    &:focus{
      color: $secondaryColor;
    }
  }
  
  .button-secondary {
    color: $primaryColor;
    border: 1px solid $primaryColor;
    &:hover{
      background-color: $secondaryColor;
    }
  }

.active{
  font-weight: bold;
}

.navbar {
  background-color: $primaryColor;
  padding: 1rem 0;
  border-bottom-left-radius: 1.5rem;

  &__wrapper {
    display: flex;
    height: 8vh;
    max-width: 70vw;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    &__brandName {
      color: $darkColor;
      font-weight: bold;
      transform: translateY(-15px);
    }

    &__container {
      display: flex;
      list-style-type: none;
      transform: translateY(20px);
      li {
        margin: 0 2rem;

        a {
          color: $darkColor;
          &:hover {
            color: $secondaryColor;
          }
        }
      }
    }
  }
}

.hero {
  &__wrapper {
    padding: 4rem 0;
    
    img {
      width: 35vw;
    }

    &__heading {
      margin: 3rem 0;
      font-size: 2rem;
      color: $primaryColor;
      strong {
        font-size: 3rem;
        color: $secondaryColor;
      }
    }
  }
}

.main {
  &__wrapper {
    &__dark, &__light {
      padding: 1.5rem 0;
      height: 37vh;
      h3 {
        font-size: 2rem;
        margin: 0 0 1rem 0;
      }
      &__center {
        max-width: 50vw;
        margin: 0 auto;
        p {
          text-align: justify;
          padding: 0.5rem 0 0 0;
        }
      }
    }
    &__dark{
        height: 35vh;
        background-color: $darkColor;
    }
  }
}

.footer {
  &__wrapper {
    background-color: $primaryColor;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3{
        color: $lightColor;
        margin: 1rem 0;
    }
    &__list{
        display: flex;
        justify-content: center;
        color: $darkColor;
        li{
            margin: 0 2rem;
            a{
                color: $darkColor;
                &:hover{
                    color: $secondaryColor;
                }
            }
        }
    }
  }
}
