$tablet: 768px;
$phone: 510px;
$smphone: 400px;
@mixin tablet {
  @media only screen and (max-width: $tablet) {
      @content;
  }
}

@mixin phone {
  @media only screen and (max-width: $phone) {
      @content;
  }
}

@mixin smphone {
  @media only screen and (max-width: $smphone) {
      @content;
  }
}

.hero {
  &__wrapper {
    padding: 1rem 0;
    height: 25vh;
    &__heading{
      @include tablet{
        margin: 0;
      }
    }
  }
}

.main {
  &__wrapper {
    height: 440vh;
    @include tablet{
      height: 470vh;
    }
    @include phone{
      height: 480vh;
    }
    @include smphone{
      height: 520vh;
    }

    &__light {
      height: 25vh;
      &__center {
        margin: 4rem auto;
        font-weight: bold;
        font-size: 2rem;
        @include tablet{
          max-width: 80vw;
        }
        @include phone{
          max-width: 90vw;
          font-size: 1rem;
        }
        h3, span, p, a{
          font-weight: normal;
        }
        h3{
          text-align: justify;
        }
        span{
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }
}
